@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@theme {
  --font-inter: Inter, sans-serif;
  --font-poppins: Poppins, sans-serif;

  /* Neutral palette */
  --color-background: #f3f4f6;
  --color-foreground: #ffff;
  --color-card: #ffffff;
  --color-border-col: #e5e7eb;
  --color-button-col: #f8faff;
  --color-button-hov: #eef0ff;
  --color-muted: #c5c8ff;
  --color-accent: #5750f1;
  --color-accent-soft: #f3f3fe;

  --color-neutral-01: #f5f7f9;
  --color-neutral-02: #dae1e7;
  --color-neutral-03: #b8c2cc;
  --color-neutral-04: #8795a1;
  --color-neutral-05: #606f7b;
  --color-neutral-06: #3d4852;
  --color-neutral-07: #1a1f23;
  --color-neutral-08: #111517;
  --color-neutral-09: #030108;

  /* Brand */
  --color-primary-50: #eef0ff;
  --color-primary-100: #dadcff;
  --color-primary-200: #c5c8ff;
  --color-primary-300: #a7a9ff;
  --color-primary-400: #8c8cff;
  --color-primary-500: #5a5fe1;
  --color-primary-600: #474ac4;
  --color-primary-700: #3836a0;
  --color-primary-800: #28267b;
  --color-primary-900: #1c1a55;

  --color-primary-01: #f3f2fc;
  --color-primary-02: #d4d2f8;
  --color-primary-03: #8580f2;
  --color-primary-04: #5750f1;
  --color-primary-05: #3f38c7;
  --color-primary-06: #474ac4;

  /* Semantic */
  --color-success-500: #22c55e;
  --color-warning-500: #f5a524;
  --color-danger-500: #ef4444;
  --color-info-500: #3b82f6;

  /* text */
  --color-primary-text: #111827;
  --color-secondary-text: #8b8b8b;
  --color-inverted-text: #ffffff;
  --color-link-text: #5a5fe1; /* same as --color-primary-500 */
}

/* @custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)); */

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-background: #06101e;
  --color-foreground: #122031;
  --color-card: #18243a;
  --color-button-col: #1f2a37;
  --color-button-hov: #2a3746;
  --color-border-col: #222f3f;
  --color-muted: #94a3b8;

  --color-accent: #5750f1;
  --color-accent-soft: #f3f3fe;

  --color-primary-text: #f3f4f6;
  --color-secondary-text: #9ca3af;
  --color-inverted-text: #ffffff;
  --color-link-text: #5a5fe1; /* same as --color-primary-500 */

  --color-primary-50: #2b2f77;
  --color-primary-100: #3b3f9f;
  --color-primary-200: #4b4fc5;
  --color-primary-300: #5a5fe1;
  --color-primary-400: #6c6fff;
  --color-primary-500: #7c80ff;
  --color-primary-600: #9093ff;
  --color-primary-700: #a4a6ff;
  --color-primary-800: #c1c2ff;
  --color-primary-900: #d8d9ff;
  --color-success-500: #20bf78;
  --color-warning-500: #f5b94c;
  --color-danger-500: #f87171;
  --color-info-500: #60a5fa;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* Scrollbar */
/* :root {
  --scroll-thumb: #bebebe;
  --scroll-track: #52525b;
}
@media (prefers-color-scheme: dark) {
  :root {
    --scroll-thumb: red;
    --scroll-track: #434345;
  }
} */

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

/*utility tailwind style  */

.btn-primary {
  @apply bg-button-col border-border-col hover:border-muted hover:bg-button-hov flex cursor-pointer flex-col items-center gap-3 rounded-[10px] border-2 px-4 py-2 text-[#5E636E] shadow-xs transition-all duration-200 disabled:opacity-50 dark:text-[#B1B1B1];
}

.btn-secondary {
  @apply bg-button-col hover:bg-button-hov border-border-col flex w-full cursor-pointer items-center gap-2 rounded-lg border p-2 text-sm text-gray-700 transition-all dark:text-[#F3F4F6];
}

/* Light mode */
:root {
  --scroll-thumb: #bebebe;
  --scroll-track: #52525b;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
/* Dark mode */
.dark {
  --scroll-thumb: var(--color-accent-soft);
  --scroll-track: #434345;
}

/* Scrollbar  */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scroll-track);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 8px;
}

/* Hide scrollbar (used by horizontal pill tab rows in the popup). */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Inter Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}